@import "~react-image-gallery/styles/css/image-gallery.css";

.Container{
  background-color: #f0dbbd; 
  background-size: 'cover';
  height: '1000vh';
}

.App {
  text-align: center;
  width: '100vw';
  height: '100vh';
}

.App-logo {
  margin-top: 10px;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f0dbbd;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2.5vmin);
  color: black;
}

.Page-title{
  margin: 5px;
  font-size: 5vh;
  margin-bottom: 10px;
}

.Contact-info{
  margin: 5px;  
  text-align: center;
  font-size: calc(8px + 1.5vmin);
  margin-bottom: 30px;
}

.App-link { 
  color: #61dafb;
}

.Items-container{
  align-items: center;
  justify-content: center;
  display:flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 50%;
  margin-bottom: 3vh;
}

.Item{
  margin-left: 2vw;
  margin-right: 2vw;
  width: 35%;
  text-align: center;
}

.Item-pic{
  object-fit: 100%;
  width: 300px;
  min-width: 26%;
  max-width: 30%;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: center;
  align-items: center;
}